body {
    background-color: #d8eefc;
    margin: 0;
}
html {
    font-family: "Lato", sans-serif;
}

h1 {
    text-align: center;
    font-size: 45px;
    padding: 0;
    margin: 20px;
    margin-bottom: 0;
    color:rgb(0, 83, 138)
}
h2 {
    text-align: left;
    font-size: 20px;
    color: rgb(66, 66, 66);
    margin: 20px;
}
h3 {
    text-align: left;
    font-size: 15px;
    color: rgb(66, 66, 66);
    margin-top: 10px;
    margin-left: 20px;
}
p {
    text-align: left;
    color: rgb(85, 85, 85);
    margin: 10px;
    margin-left: 20px;
}
.infocard-container {
    
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}
.infocard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    margin: 20px;
    padding: 10px;
    max-width: 500px;
}
.info-description {
    font-size: 15px;
    margin-bottom: 10px;
}
.header {
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

#sketch {
    display:flex;
    justify-content: center;
}
#defaultCanvas0 {
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.selection {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.none, .selected {
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.selection .none {
background-color: rgb(0, 137, 230);
}
.selection .none:hover {
background-color: rgb(0, 105, 175);
}
.selected {
background-color: rgb(115, 171, 209);
}

.controls {
    margin: 10px;
    padding-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.controls button {
    
    background-color: rgb(0, 137, 230);
    color: white;
    padding: 8px;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}